<div *ngIf="loginService.isAdmin()">
  <div class="card">
    <div class="card-header  text-white bg-primary ">Liste d'événement</div>
    <div class="card-body">
      <div class="container">
        <p></p>
        <div class="row text-white bg-primary justify-content-md-center">
          <div class="col col-lg-4">
            Titre
          </div>
          <div class="col col-lg-2">
            Date d'événement
          </div>
          <div class="col col-lg-2">
            Tags
          </div>
          <div class="col col-lg-2">
           Editer
          </div>
          <div class="col col-lg-2">
            Supprimer
          </div>
        </div>
        <p></p>
        <div class="row justify-content-md-center" *ngFor="let event of listeEvent">
          <div class="col col-lg-4">
            {{event.titre}}
          </div>
          <div class="col col-lg-2">
            {{event.dateHeureEvenement}}
          </div>
          <div class="col col-lg-2">
            {{event.tags}}
          </div>
          <div class="col col-lg-2">
           <a>Edit</a>
          </div>
          <div class="col col-lg-2">
            <a>Sup</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>