
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    
        <div class="form-group">
          <label for="login">
            Login
          </label>
          <input type="text" name="login"  [(ngModel)]="user.Login" class="form-control">
          <label for="nom">
           Nom
          </label>
          <input type="text" name="nom"  [(ngModel)]="user.Nom" class="form-control">
          <label for="prenom">
            Prenom
          </label>
          <input type="text" name="prenom" [(ngModel)]="user.Prenom" class="form-control">
          <label for="email">
            Email
          </label>
          <input type="text" name="email"  [(ngModel)]="user.Email" class="form-control">
         
    
          <label for="tel">
            Tel
          </label>
          <input type="text" name="tel" [(ngModel)]="user.Tel" class="form-control">
          <label for="name">
            Portable
          </label>
          <input type="text" name="port"  [(ngModel)]="user.Port" class="form-control">
          <label for="orga">
            Nom organisateur
          </label>
          <input type="text" name="orga"  [(ngModel)]="user.NomOrganisation" class="form-control">
        </div>
        <button class="btn btn-primary" (click)="AddUser()">Enregistrer</button>
    
    </div>
  </div>

